{:kotoba.app/id "cloud.itonami.isic-2731", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiabniocyfqdmqu4drvblolbgav3xd44yt6jcw26cor5cqrbx67uk4", :kotoba.app/embed-url "ipfs://bafkreiabniocyfqdmqu4drvblolbgav3xd44yt6jcw26cor5cqrbx67uk4", :published {:archive "https://kotobase.net/ipfs/bafkreiabniocyfqdmqu4drvblolbgav3xd44yt6jcw26cor5cqrbx67uk4", :size 73350, :put-status 201, :get-status 200, :at "2026-08-15T13:51:18.690Z"}}
